[Desktop Entry]
Type=Application
Name=OrangeShare
Exec=sparkleshare start
Icon=folder-sparkleshare
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Network;
